# Env и секреты
.env

# База данных
*.db

# PID файлы
*.pid

# Логи
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Виртуальное окружение
venv/

# Системное
.DS_Store

# Большие файлы
*.xlsx
